.contact-list {
    margin-bottom: 30px;
}

.formContacts {
    display: flex;
    justify-content: space-between;
    margin-right: 350px;
    margin-left: 350px;
}

.contact-item {
    color: #555;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 20px;
    background-color: lightyellow;
}

.contact-item.done {
    background-color: lightgreen;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
    margin-left: 300px;
}

.delete-btn {
    float: right;
}

.add-btn {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 30px;
}

.container-of-items {
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
    margin-left: 280px;
}

.items-name {
    margin-right: 150px;
    margin-left: 30px;
}